HELP.md
.gradle
build/
src/main/resources/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
src/test/java/com/hanpyeon/academyapi/account/TestAccountAdder.java
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.DS_Store

app/hpmath-media-api/src/main/resources/application.properties
app/hpmath-member-api/src/main/resources/application.properties
app/hpmath-member-batch/src/main/resources/application.properties
app/hpmath-banner-api/src/main/resources/application.properties
app/hpmath-board-api/src/main/resources/application.properties
app/hpmath-directory-api/src/main/resources/application.properties
app/hpmath-online-api/src/main/resources/application.properties
app/hpmath-course-api/src/main/resources/application.properties
app/hpmath-monolith-api/src/main/resources/application.properties
app/hpmath-board-view-batch/src/main/resources/application.properties
app/hpmath-board-view-api/src/main/resources/application.properties